{% extends "kpcc_backroom_handshakes/_base.html" %}
{% load static %}
{% load humanize %}
{% load ballot_box_template_tags %}

{% block title %}Close Measures{% endblock %}
{% block robots %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_image %}{% endblock %}
{% block og_image_width %}{% endblock %}
{% block og_image_height %}{% endblock %}
{% block og_url %}{% endblock %}
{% block og_description %}{% endblock %}
{% block twitter_url %}{% endblock %}
{% block twitter_domain %}{% endblock %}
{% block twitter_site %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_description %}{% endblock %}
{% block twitter_image %}{% endblock %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/ballot-box.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/newscast.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block data_details %}
    <div class="hero-election dashboard">
        <div class="jumbotron text-center">
            <h1>Close Measures</h1>
            <p>Showing {{ number_of_close_measures }} measures within 2.5 percentage points</p>
        </div>
    </div>
{% endblock %}

{% block data_visuals %}
    <div class="hero-election dashboard">
        <div class="row-fluid results clearfix">
            {% for measure in close_measures %}
                <div class="results-block measure-hack clearfix">
                    <header>
                        {% if "Proposition 66" in measure.contestname %}
                            <h2 class="race-title">{{ measure.fullname|title }} - {{ measure.description }}</h2>
                            <h2 class="race-title">&nbsp;</h2>
                        {% else %}
                            <h2 class="race-title">{{ measure.contestname|title }} {{ measure.fullname|title }} - {{ measure.description }}</h2>
                            <h2 class="precincts-reporting">{{ measure.precinctsreportingpct|percentage|floatformat:0 }}% precincts reporting</h2>
                        {% endif %}
                    </header>
                    <div class="result-item dashboard-hack clearfix">
                        <h3 class="candidate-name">Yes &mdash; {{ measure.yescount|intcomma }}</h3>
                        <h3 class="votepct">{{ measure.yespct|percentage|floatformat:3 }}%</h3>
                        <h3 class="candidate-name">No &mdash; {{ measure.nocount|intcomma }}</h3>
                        <h3 class="votepct">{{ measure.nopct|percentage|floatformat:3 }}%</h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
