{% extends "kpcc_backroom_handshakes/_base.html" %}
{% load static %}
{% load humanize %}
{% load ballot_box_template_tags %}

{% block title %}{{ topic.topicname }}{% endblock %}
{% block robots %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_image %}{% endblock %}
{% block og_image_width %}{% endblock %}
{% block og_image_height %}{% endblock %}
{% block og_url %}{% endblock %}
{% block og_description %}{% endblock %}
{% block twitter_url %}{% endblock %}
{% block twitter_domain %}{% endblock %}
{% block twitter_site %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_description %}{% endblock %}
{% block twitter_image %}{% endblock %}

{% block extra_css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/ballot-box.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/newscast.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block data_details %}
    <div class="hero-election dashboard">
        <div class="jumbotron text-center">
            <h1>{{ topic.topicname }}</h1>
            <p>{{ topic.description }}</p>
        </div>
    </div>
{% endblock %}

{% block data_visuals %}
    <div class="hero-election dashboard">
        {% for contest in contests %}
            <div class="row-fluid results playlist-row clearfix">
                {% if contest.is_ballot_measure == False %}
                    <div class="results-block playlist-block clearfix">
                        <header class="newscast">
                            <h2 class="race-title">{% ordinalize_name contest %}</h2>
                            {% if contest.geography %}
                                <h2 class="geography">District includes {{ contest.geography }}</h2>
                            {% else %}
                            {% endif %}
                            <h2 class="precincts-reporting">With {{ contest.precinctsreportingpct|percentage|floatformat:0 }}% precincts reporting as of {{ contest.modified|date:"g:i a, N d, Y" }}</h2>
                            <h2 class="precincts-reporting">Source: {{ contest.resultsource }}</h2>
                        </header>
                        {% for candidate in contest.candidate_set.all|dictsortreversed:"votepct"|slice:"5" %}
                            {% if candidate.candidate_image == True %}
                                <div class="result-item playlist-item clearfix">
                                    {% if contest.is_homepage_priority == True %}
                                        {% if baked == True %}
                                            <img src="http://elections.scpr.org/static/assets/{{ candidate.candidateid }}.png" alt="{{ candidate.candidateid }}"/>
                                        {% else %}
                                            <img src="{% static '' %}/assets/{{ candidate.candidateid }}.png" alt="{{ candidate.candidateid }}"/>
                                        {% endif %}
                                    {% else %}
                                        <img src="//projects.scpr.org/static-files/_v4/images/default_avatar.png" alt="{{ candidate.candidateid }}"/>
                                    {% endif %}
                                    <h3 class="candidate-name">{{ candidate.fullname }} {% if candidate.party %}({{ candidate.party|convert_political_party }}){% endif %}{% if candidate.incumbent == True %}<br /> <span class="blurb-text">Incumbent</span>{% endif %}</h3>
                                    <h3 class="votepct">{{ candidate.votepct|percentage|floatformat:0 }}%{% if contest.contestid == 'sos-statewide-president' %}<br /> <span class="blurb-text">of california voters</span>{% endif %}</span></h3>
                                </div>
                            {% else %}
                                <div class="result-item playlist-item clearfix">
                                    <h3 class="candidate-name">{{ candidate.fullname }} {% if candidate.party %}({{ candidate.party|convert_political_party }}){% endif %}{% if candidate.incumbent == True %}<br /> <span class="blurb-text">Incumbent</span>{% endif %}</h3>
                                    <h3 class="votepct">{{ candidate.votepct|percentage|floatformat:0 }}%{% if contest.contestid == 'sos-statewide-president' %}<br /> <span class="blurb-text">of california voters</span>{% endif %}</span></h3>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    {% for this in contest.ballotmeasure_set.all %}
                        {% if "carson-city-special-municipal-tl-term-limits-for-offices" in this.measureid %}
                        {% else %}
                            <div class="results-block playlist-block measure-hack clearfix">
                                <header>
                                    {% if contest.is_statewide == True %}
                                        <h2 class="race-title">{{ contest.contestname|title }}</h2>
                                        <h2 class="race-title">&nbsp;</h2>
                                    {% else %}
                                        <h2 class="race-title">{{ contest.contestname|title }} {{ this.fullname|title }}</h2>
                                        <h2 class="race-title">{{ this.description }}</h2>
                                    {% endif %}
                                    <h2 class="precincts-reporting">{{ contest.precinctsreportingpct|percentage|floatformat:0 }}% precincts reporting</h2>
                                </header>
                                <div class="result-item playlist-item dashboard-hack clearfix">
                                    <h3 class="candidate-name">Yes</h3>
                                    <h3 class="votepct">{{ this.yespct|percentage|floatformat:0 }}%</h3>
                                    <h3 class="candidate-name">No</h3>
                                    <h3 class="votepct">{{ this.nopct|percentage|floatformat:0 }}%</h3>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
