{% extends "newscast/_base.html" %}
{% load static %}
{% load humanize %}
{% load ballot_box_template_tags %}

{% block extra_css %}
    <link href="{% static 'css/general-election-reset.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/general-election.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/newscast-dashboard.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
    <div class="jumbotron text-center">
        <h1>Topics We're Tracking</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for topic in topic_list %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <ul class="dashboard">
                        <li><a href="{% url 'newscast:newscast_detail' topic.election.electionid topic.topicslug %}"><strong>{{ topic.topicname|title }}</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;{{ topic.description }}</a></li>
                    </ul>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

