{% extends "kpcc_backroom_handshakes/_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ election.electionid }} election{% endblock %}
{% block robots %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_image %}{% endblock %}
{% block og_image_width %}{% endblock %}
{% block og_image_height %}{% endblock %}
{% block og_url %}{% endblock %}
{% block og_description %}{% endblock %}
{% block twitter_url %}{% endblock %}
{% block twitter_domain %}{% endblock %}
{% block twitter_site %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_description %}{% endblock %}
{% block twitter_image %}{% endblock %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/registrar.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block data_details %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron text-center">
                <h1>{{ election.electionid }}</h1>
                <p>A preview of the races and candidates for the {{ election.electionid }} election</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block data_visuals %}
    <div class="container">
        <div class="row buttons">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul>
                    <li id="race-measures-embeds" class="selected"><a target="_blank" href="{% url 'election_registrar:detail' election.electionid %}"><span class="label">Races & Measures Embeds</span></a></li>
                    <li id="top-races"><a target="_blank" href="{% url 'ballot_box:featured-index' election.electionid %}/"><span class="label">Top Results</span></a></li>
                    <li id="all-races"><a target="_blank" href="{% url 'ballot_box:result-index' election.electionid %}/"><span class="label">All Results</span></a></li>
                    <li id="playlist-topics"><a target="_blank" href="{% url 'newscast:newscast_list' election.electionid %}"><span class="label">Newscast Playlists</span></a></li>
                    <li id="prop-finance-embeds"><a target="_blank" href="{% url 'measure_finance:measure-index' election.electionid %}/"><span class="label">Prop Finance Chart Embeds</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% for contest in contests %}
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 race-block">
                    <h4 class="title">{{ contest.contestname }}</h4>
                    {% if contest.is_ballot_measure = True %}
                        <p><code>&lt;iframe width="100%" height="340" scrolling="no" frameborder="no" src="https://elections.scpr.org/{{ election.electionid }}/results/{{ contest.contestid }}/index.html"&gt;&lt;/iframe&gt;</code></p>
                    {% else %}
                        <p><code>&lt;iframe width="100%" height="330" scrolling="no" frameborder="no" src="https://elections.scpr.org/{{ election.electionid }}/results/{{ contest.contestid }}/index.html"&gt;&lt;/iframe&gt;</code></p>
                    {% endif %}
                    <ul>
                        {% if contest.candidate_set.all %}
                            {% for candidate in contest.candidate_set.all %}
                                <li>{{ candidate.fullname }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
