{% extends "kpcc_backroom_handshakes/_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{% endblock %}
{% block robots %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_image %}{% endblock %}
{% block og_image_width %}{% endblock %}
{% block og_image_height %}{% endblock %}
{% block og_url %}{% endblock %}
{% block og_description %}{% endblock %}
{% block twitter_url %}{% endblock %}
{% block twitter_domain %}{% endblock %}
{% block twitter_site %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_description %}{% endblock %}
{% block twitter_image %}{% endblock %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/election-registrar.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block data_details %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron text-center">
                <h1>Elections</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block data_visuals %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="list-inline">
                    {% for election in election_list %}
                        <li><a href="{% url 'election_registrar:detail' election.electionid %}">{{ election }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
