{% load static %}

<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        {% block robots %}{% endblock %}
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="author" content="89.3 KPCC" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:site_name" content="{% block og_site_name %}{% endblock %}" />
        <meta property="og:type" content="{% block og_type %}{% endblock %}" />
        <meta property="og:image" content="{% block og_image %}{% endblock %}" />
        <meta property="og:image:width" content="{% block og_image_width %}{% endblock %}" />
        <meta property="og:image:height" content="{% block og_image_height %}{% endblock %}" />
        <meta property="og:url" content="{% block og_url %}{% endblock %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="{% block twitter_url %}{% endblock %}"/>
        <meta name="twitter:domain" content="{% block twitter_domain %}{% endblock %}"/>
        <meta name="twitter:site" content="{% block twitter_site %}{% endblock %}"/>
        <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}"/>
        <meta name="twitter:image:src" content="{% block twitter_image %}{% endblock %}">
        <link rel="shortcut icon" href="http://media.scpr.org/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="http://media.scpr.org/assets/images/icon.png">
        <!-- end meta -->

        <!-- begin css -->
        <link href="//projects.scpr.org/static-files/_v4/css/reset.min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="//projects.scpr.org/static-files/_v4/css/jAlert.4.5.1.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="//projects.scpr.org/static-files/_v4/css/kpcc-header-footer.4.0.css" media="screen" rel="stylesheet" type="text/css" />
        {% block extra_css %}{% endblock %}
        <!-- end css -->

        <!-- begin base scripts -->
        <script src="https://use.typekit.net/cka2qre.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <script src="//projects.scpr.org/static-files/_v4/scripts/jquery.1.11.3.min.js"></script>
        <script src="//projects.scpr.org/static-files/_v4/scripts/jAlert.4.5.1.min.js"></script>
        <script src="//projects.scpr.org/static-files/_v4/scripts/jAlert-functions.4.5.1.js"></script>
        {% block head_js %}{% endblock %}
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body class="minimal">
        {% include "kpcc_backroom_handshakes/kpcc_header.html" %}
        <div class="container data-container">
            {% block data_details %}{% endblock %}
            {% block data_visuals %}{% endblock %}
            {% include "kpcc_backroom_handshakes/kpcc_footer.html" %}
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//projects.scpr.org/static-files/_v4/scripts/moment-with-locales.2.17.0.min.js"></script>
        <script src="//projects.scpr.org/static-files/_v4/scripts/underscore-min.1.8.3.js"></script>
        <script src="//projects.scpr.org/static-files/_v4/scripts/backbone-min.1.3.3.js"></script>
        <script src="//projects.scpr.org/static-files/_v4/scripts/_application_functions.js"></script>
        {% block tail_js %}{% endblock %}
        {% include "kpcc_backroom_handshakes/kpcc_analytics.html" %}
    </body>
    <!-- end body -->

</html>
<!-- end document -->
