<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- end meta -->

        {% block extra_css %}{% endblock %}

        <!-- begin base scripts -->
        <script src="https://use.typekit.net/cka2qre.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body>
        {% block display_block %}{% endblock %}

        <!-- begin additional scripts -->

        {% block extra_js %}{% endblock %}
        <!-- end additional scripts -->

    </body>
    <!-- end body -->

</html>
<!-- end document -->
