{% extends "kpcc_backroom_handshakes/_base.html" %}
{% load static %}
{% load humanize %}
{% load ballot_box_template_tags %}

{% block title %}2018 California primary election results: Follow along with us{% endblock %}
{% block robots %}{% endblock %}
{% block description %}Results for the {{ title }} brought to you by KPCC, 89.3FM{% endblock %}
{% block keywords %}California, Los Angeles County, Orange County, San Bernardino County, US House of Representatives, California State Legislature, US Senate, city council, state ballot propositions, Los Angeles County measures, Orange County measures, San Bernardino County measures{% endblock %}
{% block og_title %}2018 California primary election results: Follow along with us{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_image %}https://a.scpr.org/i/7cc90bd58103446b92119b069b2a008a/209503-full.jpg{% endblock %}
{% block og_image_width %}1525{% endblock %}
{% block og_image_height %}127{% endblock %}
{% block og_url %}https://elections.scpr.org/{{ electionid }}/results/all.html{% endblock %}
{% block og_description %}Results for the {{ title }} brought to you by KPCC, 89.3FM{% endblock %}
{% block twitter_url %}https://elections.scpr.org/{{ electionid }}/results/all.html{% endblock %}
{% block twitter_domain %}https://projects.scpr.org/{% endblock %}
{% block twitter_site %}KPCC{% endblock %}
{% block twitter_title %}2018 California primary election results: Follow along with us{% endblock %}
{% block twitter_description %}Results for the {{ title }} brought to you by KPCC, 89.3FM{% endblock %}
{% block twitter_image %}https://a.scpr.org/i/7cc90bd58103446b92119b069b2a008a/209503-full.jpg{% endblock %}

{% block extra_css %}
    {% if baked == True %}
        <link href="/static/css/ballot-box.css" media="screen" rel="stylesheet" type="text/css" />
    {% else %}
        <link href="{% static 'css/ballot-box.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block data_visuals %}
    <div class="hero-election">
        {% if timestamp %}
        <!-- i was built at {{ timestamp }} using django-bakery -->
        {% endif %}
        {% include "ballot_box/inc_header.html" %}
        {% include "ballot_box/inc_buttons.html" %}
        <div class="row-fluid results">
            <!-- begin national races block -->
            {% if national_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix active">
                        <div class="collection-header"><h2>National Offices</h2></div>
                        {% for contest in national_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- begin state races block -->
            {% if state_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>State Offices</h2></div>
                        {% for contest in state_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- begin local races block -->
            {% if lac_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>Los Angeles County Offices</h2></div>
                        {% for contest in lac_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if oc_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>Orange County Offices</h2></div>
                        {% for contest in oc_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if sbc_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>San Bernardino County Offices</h2></div>
                        {% for contest in sbc_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- begin state measures block -->
            {% if state_measures %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>State Ballot Measures</h2></div>
                        {% for measure in state_measures %}
                            <div class="measures-row clearfix">
                                {% for this in measure.ballotmeasure_set.all %}
                                    <div class="result-item clearfix">
                                        <div class="measure-name">
                                            <dl>
                                                <dt>{{ this.fullname }}&mdash;{{ measure.contestdescription }}</dt>
                                                <dd><span class="blurb-text">{{ measure.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</span></dd>
                                            </dl>
                                        </div>
                                        <div class="measure-votes clearfix">
                                            <dl class="yes">
                                                <dt>{{ this.yespct|percentage|floatformat:0 }}%</dt>
                                                <dd>Yes</dd>
                                            </dl>
                                            <dl class="no">
                                                <dt>{{ this.nopct|percentage|floatformat:0 }}%</dt>
                                                <dd>No</dd>
                                            </dl>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- begin local measures block -->
            {% if local_measures %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>Local Ballot Measures</h2></div>
                        {% for contest in local_measures %}
                            <div class="measures-row clearfix">
                                <header>
                                    <h2 class="race-title">{{ contest.contestname|title }}</h2>
                                    <h2 class="precincts-reporting">{{ contest.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</h2>
                                </header>
                                {% for this in contest.ballotmeasure_set.all %}
                                    <div class="result-item clearfix">
                                        <div class="measure-name">
                                            <dl>
                                                {% if this.description %}
                                                    <dt>{{ this.fullname }}&mdash;{{ this.description }}</dt>
                                                {% else %}
                                                    <dt>{{ this.fullname }}</dt>
                                                {% endif %}
                                                <dd><span class="blurb-text">{{ contest.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</span></dd>
                                            </dl>
                                        </div>
                                        <div class="measure-votes clearfix">
                                            <dl class="yes">
                                                <dt>{{ this.yespct|percentage|floatformat:0 }}%</dt>
                                                <dd>Yes</dd>
                                            </dl>
                                            <dl class="no">
                                                <dt>{{ this.nopct|percentage|floatformat:0 }}%</dt>
                                                <dd>No</dd>
                                            </dl>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var pymChild = new pym.Child({id: "homepage"});
            $(".collection-header").click(function() {
                $(this).parent().toggleClass("active");
                pymChild.sendHeight();
            });
        });
    </script>
{% endblock %}
