{% extends "ballot_box/_base.html" %}
{% load static %}
{% load humanize %}
{% load ballot_box_template_tags %}

{% block extra_css %}
    {% if baked == True %}
        <link href="http://162.243.135.6/static/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="http://162.243.135.6/static/css/general-election.css" media="screen" rel="stylesheet" type="text/css" />
    {% else %}
        <link href="{% static 'css/reset.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/general-election.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block display_block %}

    {% if timestamp %}
    <!-- i was built at {{ timestamp }} using django-bakery -->
    {% endif %}

    <div class="hero-election">
        {% include "ballot_box/inc_header.html" %}
        {% include "ballot_box/inc_buttons.html" %}
        <div class="row-fluid results">
            <!-- begin national races block -->
            {% if national_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix active">
                        <div class="collection-header"><h2>National Races</h2></div>
                        {% for contest in national_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- begin state races block -->
            {% if state_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>State Races</h2></div>
                        {% for contest in state_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- begin local races block -->
            {% if lac_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>Los Angeles County Races</h2></div>
                        {% for contest in lac_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if oc_races %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>Orange County Races</h2></div>
                        {% for contest in oc_races %}
                            {% include "ballot_box/inc_results_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- begin state measures block -->
            {% if state_measures %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>State Ballot Measures</h2></div>
                        {% for measure in state_measures %}
                            <div class="measures-row clearfix">
                                {% for this in measure.ballotmeasure_set.all %}
                                    <div class="result-item clearfix">
                                        <div class="measure-name">
                                            <dl>
                                                <dt>{{ this.fullname }}&mdash;{{ measure.contestdescription }}</dt>
                                                <dd><span class="blurb-text">{{ measure.precinctsreportingpct|percentage|floatformat:0 }}% precincts reporting</span></dd>
                                            </dl>
                                        </div>
                                        <div class="measure-votes clearfix">
                                            <dl class="yes">
                                                <dt>{{ this.yespct|percentage|floatformat:0 }}%</dt>
                                                <dd>Yes</dd>
                                            </dl>
                                            <dl class="no">
                                                <dt>{{ this.nopct|percentage|floatformat:0 }}%</dt>
                                                <dd>No</dd>
                                            </dl>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- begin local measures block -->
            {% if local_measures %}
                <div class="collection-row">
                    <div class="collection-block clearfix">
                        <div class="collection-header"><h2>Local Ballot Measures</h2></div>
                        {% for contest in local_measures %}
                            <div class="measures-row clearfix">
                                <header>
                                    <h2 class="race-title">{{ contest.contestname|title }}</h2>
                                    <h2 class="precincts-reporting">{{ contest.precinctsreportingpct|percentage|floatformat:0 }}% precincts reporting</h2>
                                </header>
                                {% for this in contest.ballotmeasure_set.all %}
                                    <div class="result-item clearfix">
                                        <div class="measure-name">
                                            <dl>
                                                <dt>{{ this.fullname }}&mdash;{{ contest.contestdescription }}</dt>
                                                <dd><span class="blurb-text">{{ contest.precinctsreportingpct|percentage|floatformat:0 }}% precincts reporting</span></dd>
                                            </dl>
                                        </div>
                                        <div class="measure-votes clearfix">
                                            <dl class="yes">
                                                <dt>{{ this.yespct|percentage|floatformat:0 }}%</dt>
                                                <dd>Yes</dd>
                                            </dl>
                                            <dl class="no">
                                                <dt>{{ this.nopct|percentage|floatformat:0 }}%</dt>
                                                <dd>No</dd>
                                            </dl>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){

            $("li#top-races").removeClass("selected");
            $("li#all-races").addClass("selected");

            $(".collection-header").click(function() {
                $(this).parent().toggleClass("active");
            });
        });
    </script>
{% endblock %}
