{% extends "ballot_box/base.html" %}
{% load humanize %}
{% load ballot_box_template_tags %}

{% block display_block %}
    <div class="hero-election">
        <div class="row-fluid">
            <header class="span24 election-header">
                <h1>2016 General Election Results</h1>
            </header>
        </div>
        <div class="row-fluid">
            <section class="span24">
                <div class="header-well clearfix">
                    <h2 class="callout center-contents"><a href="http://www.scpr.org/topics/2016-election">Jump to KPCC&#39;s complete election coverage</a></h2>
                </div>
            </section>
        </div>
        <div class="results">
            <article class="results-block">
                {% for contest in featured_list %}
                    <div class="results-block" data-race="#">
                        <header>
                            <h2>{{ contest.contestname }}</h2>
                            <aside>&nbsp;</aside>
                        </header>
                        <div class="clearfix">
                            {% if contest.is_judicial %}
                                <section class="initiative local condensed yes">
                                    <div class="title">
                                        <h3>Yes</h3>
                                    </div>

                                    <div class="result relative">
                                        <div class="yes "><strong><span>0</span><b class="percentage">%</b></strong></div>
                                    </div>
                                </section>
                                <section class="initiative local condensed no">
                                    <div class="title">
                                        <h3>No</h3>
                                    </div>
                                    <div class="result relative">
                                        <div class="yes "><strong><span>0</span><b class="percentage">%</b></strong></div>
                                    </div>
                                </section>
                            {% elif contest.is_ballot_measure %}
                                <section class="initiative local condensed yes">
                                    <div class="title">
                                        <h3>Yes</h3>
                                    </div>

                                    <div class="result relative">
                                        <div class="yes "><strong><span>0</span><b class="percentage">%</b></strong></div>
                                    </div>
                                </section>
                                <section class="initiative local condensed no">
                                    <div class="title">
                                        <h3>No</h3>
                                    </div>
                                    <div class="result relative">
                                        <div class="yes "><strong><span>0</span><b class="percentage">%</b></strong></div>
                                    </div>
                                </section>
                            {% else %}
                                {% for candidate in contest.candidate_set.all|slice:":6"|dictsortreversed:"votepct" %}
                                    <section class="initiative local condensed">
                                        <div class="title">
                                            <h3>{{ candidate.fullname }}</h3>
                                        </div>
                                        <div class="result relative">
                                            <div class="yes "><strong><span>{{ candidate.votepct|percentage|floatformat:1 }}</span><b class="percentage">%</b></strong></div>
                                        </div>
                                    </section>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </article>

            <article class="results-block">
            <div class="results-collection">
                <div class="collection-header">Local Races</div>
            </div>
            </article>


            <article class="results-block">
                <div class="results-collection">
                    <div class="collection-header">Full State Results</div>
                    {% for contest in state_list %}
                        <div class="results-block">
                            <header>
                                <h2>{{ contest.contestname }}</h2>
                                <aside>&nbsp;</aside>
                            </header>
                            <div class="clearfix">
                            {% for candidate in contest.candidate_set.all|slice:":6"|dictsortreversed:"votepct" %}
                                <section class="initiative local condensed">
                                    <div class="title">
                                        <h3>{{ candidate.fullname }}</h3>
                                    </div>
                                    <div class="result relative">
                                        {% if candidate.votepct %}
                                            <div class="yes "><strong><span>{{ candidate.votepct|percentage|floatformat:1 }}</span><b class="percentage">%</b></strong></div>
                                        {% else %}
                                            <div class="yes "><strong><span>n/a</span><b class="percentage">%</b></strong></div>
                                        {% endif %}
                                    </div>
                                </section>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </article>

            <article class="results-block">
            <div class="results-collection">
                <div class="collection-header">U.S. House Of Representatives</div>
                {% for contest in house_rep_list %}
                    <div class="results-block">
                        <header>
                            <h2>{{ contest.contestname }}</h2>
                            <aside>&nbsp;</aside>
                        </header>
                        <div class="clearfix">
                        {% for candidate in contest.candidate_set.all|slice:":6"|dictsortreversed:"votepct" %}
                            <section class="initiative local condensed">
                                <div class="title">
                                    <h3>{{ candidate.fullname }}</h3>
                                </div>
                                <div class="result relative">
                                    {% if candidate.votepct %}
                                        <div class="yes "><strong><span>{{ candidate.votepct|percentage|floatformat:1 }}</span><b class="percentage">%</b></strong></div>
                                    {% else %}
                                        <div class="yes "><strong><span>n/a</span><b class="percentage">%</b></strong></div>
                                    {% endif %}
                                </div>
                            </section>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            </article>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".collection-header").click(function() {
            $(this).parent().toggleClass("active");
        });
    });
</script>
{% endblock %}
