{% extends "ballot_box/_base.html" %}
{% load static %}
{% load humanize %}
{% load ballot_box_template_tags %}

<!-- begin meta -->
{% block title %}KPCC {{ contest.contestname|title }} Results for the Nov. 8 Election | scpr.org{% endblock %}

{% block description %}The results for the {{ contest.contestname|title }} race in the Nov. 8, 2016 General Election brought to you by KPCC, 89.3FM{% endblock %}

{% block keywords %}{{ contest.contestname|title }}, California{% endblock %}

{% block og_title %}KPCC {{ contest.contestname|title }} Results for the Nov. 8 Election | scpr.org{% endblock %}

{% comment %}
    {% block og_url %}http://{{ request.get_host }}{% url 'measure_finance:measure-detail' object.official_identifier_slug %}{% endblock %}
{% endcomment %}

{% block og_description %}The results for the {{ contest.contestname|title }} race in the Nov. 8, 2016 General Election brought to you by KPCC, 89.3FM{% endblock %}

{% comment %}
{% block twitter_url %}http://{{ request.get_host }}{% url 'measure_finance:measure-detail' object.official_identifier_slug %}{% endblock %}
{% endcomment %}

{% block twitter_title %}KPCC {{ contest.contestname|title }} Results for the Nov. 8 Election | scpr.org{% endblock %}

{% block twitter_description %}The results for the {{ contest.contestname|title }} race in the Nov. 8, 2016 General Election brought to you by KPCC, 89.3FM{% endblock %}
<!-- end meta -->

{% block extra_css %}
    {% if baked == True %}
        <link href="/static/css/general-election-reset.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/static/css/general-election.css" media="screen" rel="stylesheet" type="text/css" />
    {% else %}
        <link href="{% static 'css/general-election-reset.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/general-election.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block display_block %}
    {% if timestamp %}
    <!-- i was built at {{ timestamp }} using django-bakery -->
    {% endif %}
    {% if contest.is_ballot_measure = True %}
        <div class="row-fluid embed embed-measure clearfix">
            <div class="embed-block">
                <header>
                    <h2 class="race-title">{{ contest.contestname|upper }}</h2>
                    <p class="blurb-text">As of {{ contest.modified|date:"g:i a, N d, Y" }} | {{ contest.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</p>
                </header>
                {% for measure in contest.ballotmeasure_set.all %}
                    <div class="result-item clearfix">
                        <div class="yes">
                            <span class="align-left candidate-name">Yes</span>
                            <span class="align-right votepct">{{ measure.yespct|percentage|floatformat:0 }}%</span>
                        </div>
                        <div class="no">
                            <span class="align-left candidate-name">No</span>
                            <span class="align-right votepct">{{ measure.nopct|percentage|floatformat:0 }}%</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="branded-image clearfix">
                {% if baked == True %}
                    <img src="/static/assets/kpcc-votergameplan-mark-horizontal.png" />
                {% else %}
                    <img src="{% static 'assets/kpcc-votergameplan-mark-horizontal.png' %}" />
                {% endif %}
                    <p><a href="http://www.scpr.org/elections/2016/general/">See State &amp; Local Results &gt;</a></p>
            </div>
        </div>
    {% else %}
        {% if contest.candidate_set.all|length > 8 %}
            <div class="row-fluid embed embed-race clearfix" style="height: 420px; max-height: 420px; min-height: 420px;">
        {% elif contest.candidate_set.all|length <= 8 %}
            <div class="row-fluid embed embed-race clearfix" style="height: 330px; max-height: 330px; min-height: 330px;">
        {% endif %}
            <div class="embed-block clearfix">
                <header>
                    <h2 class="race-title">{{ contest.contestname|upper }}</h2>
                    <p class="blurb-text">As of {{ contest.modified|date:"g:i a, N d, Y" }} | {{ contest.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</p>
                    {% if contest.contestid == 'sos-statewide-president' %}<p class="blurb-text">State of California voters only.</p>{% endif %}
                </header>
                {% for candidate in contest.candidate_set.all|dictsortreversed:"votepct" %}
                    {% if contest.candidate_set.all|length > 3 %}
                        <div class="result-grid clearfix">
                            <h3 class="candidate-name">{{ candidate.fullname }} {% if candidate.party != None %}({{ candidate.party|convert_political_party }}){% endif %}{% if candidate.incumbent == True %}<br /> <span class="blurb-text">Incumbent</span>{% endif %}</h3>
                            <h3 class="votepct">{{ candidate.votepct|percentage|floatformat:0 }}%</span></h3>
                        </div>
                    {% else %}
                        <div class="result-item clearfix">
                            <h3 class="candidate-name">{{ candidate.fullname }} {% if candidate.party %}({{ candidate.party|convert_political_party }}){% endif %}{% if candidate.incumbent == True %}<br /> <span class="blurb-text">Incumbent</span>{% endif %}</h3>
                            <h3 class="votepct">{{ candidate.votepct|percentage|floatformat:0 }}%{% if contest.contestid == 'sos-statewide-president' %}<br /> <span class="blurb-text">of california voters</span>{% endif %}</span></h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="branded-image clearfix">
                {% if baked == True %}
                    <img src="/static/assets/kpcc-votergameplan-mark-horizontal.png" />
                {% else %}
                    <img src="{% static 'assets/kpcc-votergameplan-mark-horizontal.png' %}" />
                {% endif %}
                    <p><a href="http://www.scpr.org/elections/2016/general/">See State &amp; Local Results &gt;</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}
