{% extends "kpcc_backroom_handshakes/_base.html" %}
{% load static %}
{% load humanize %}
{% load ballot_box_template_tags %}

{% block title %}KPCC {{ contest.contestname|title }} results for the {{ title }} | scpr.org{% endblock %}
{% block robots %}{% endblock %}
{% block description %}The results for the {{ contest.contestname|title }} race in the {{ title }} brought to you by KPCC, 89.3FM{% endblock %}
{% block keywords %}{{ contest.contestname|title }}, California{% endblock %}
{% block og_title %}KPCC {{ contest.contestname|title }} results for the {{ title }} | scpr.org{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_image %}https://elections.scpr.org/static/assets/kpcc-votergameplan-mark-horizontal.png{% endblock %}
{% block og_image_width %}1525{% endblock %}
{% block og_image_height %}127{% endblock %}
{% block og_url %}https://elections.scpr.org/{{ electionid }}/results/{{ contest.contestid }/index.html{% endblock %}
{% block og_description %}The results for the {{ contest.contestname|title }} race in the {{ title }} brought to you by KPCC, 89.3FM{% endblock %}
{% block twitter_url %}https://elections.scpr.org/{{ electionid }}/results/{{ contest.contestid }/index.html{% endblock %}
{% block twitter_domain %}http://projects.scpr.org/{% endblock %}
{% block twitter_site %}KPCC{% endblock %}
{% block twitter_title %}KPCC {{ contest.contestname|title }} Results for the {{ title }} | scpr.org{% endblock %}
{% block twitter_description %}The results for the {{ contest.contestname|title }} race in the {{ title }} brought to you by KPCC, 89.3FM{% endblock %}
{% block twitter_image %}http://projects.scpr.org/static-files/v3-dependencies/images/kpcc-og-twitter-logo.png{% endblock %}

{% block extra_css %}
    {% if baked == True %}
        <link href="/static/css/ballot-box.css" media="screen" rel="stylesheet" type="text/css" />
    {% else %}
        <link href="{% static 'css/ballot-box.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block data_visuals %}
    {% if timestamp %}
    <!-- i was built at {{ timestamp }} using django-bakery -->
    {% endif %}
    {% if contest.is_ballot_measure = True %}
        {% if contest.candidate_set.all|length < 6 %}
            <div class="row-fluid embed embed-measure clearfix" style="background: none;">
        {% else %}
            <div class="row-fluid embed embed-measure clearfix">
        {% endif %}
            <div class="embed-block">
                <header>
                    <h2 class="race-title">{{ contest.contestname|upper }}</h2>
                    {% if election_meta.resultsource_set.all.0.source_all_precincts == True %}
                        <p class="blurb-text">{{ contest.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</p>
                    {% else %}
                        <p class="blurb-text">As of {{ contest.resultsource.source_latest|date:"g:i a, N d, Y" }} | {{ contest.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</p>
                    {% endif %}
                </header>
                {% for measure in contest.ballotmeasure_set.all %}
                    <h3 class="measure-title">{{ measure.fullname }} - {{ measure.description|title }}</h2>
                    <div class="result-item clearfix">
                        <div class="yes">
                            <span class="align-left candidate-name">Yes</span>
                            <span class="align-right votepct">{{ measure.yespct|percentage|floatformat:0 }}%</span>
                        </div>
                        <div class="no">
                            <span class="align-left candidate-name">No</span>
                            <span class="align-right votepct">{{ measure.nopct|percentage|floatformat:0 }}%</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="branded-image clearfix">
                {% if baked == True %}
                    <img src="/static/assets/kpcc-votergameplan-mark-horizontal.png" />
                {% else %}
                    <img src="{% static 'assets/kpcc-votergameplan-mark-horizontal.png' %}" />
                {% endif %}
                    <p><a href="{{ election_meta.election_kpcc_page }}" target="_top">See State &amp; Local Results &gt;</a></p>
            </div>
        </div>
    {% else %}
        {% if contest.candidate_set.all|length > 8 %}
            <div class="row-fluid embed embed-race clearfix" style="height: 420px; max-height: 420px; min-height: 420px;">
        {% elif contest.candidate_set.all|length <= 8 %}
            <div class="row-fluid embed embed-race clearfix" style="height: 330px; max-height: 330px; min-height: 330px;">
        {% endif %}
            <div class="embed-block clearfix">
                <header>
                    <h2 class="race-title">{{ contest.contestname|upper }}</h2>
                    {% if election_meta.resultsource_set.all.0.source_all_precincts == True %}
                        <p class="blurb-text">{{ contest.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</p>
                    {% else %}
                        <p class="blurb-text">As of {{ contest.resultsource.source_latest|date:"g:i a, N d, Y" }} | {{ contest.precinctsreportingpct|percentage|floatformat:0 }}% of precincts reporting</p>
                    {% endif %}
                    {% if contest.contestid == 'sos-statewide-president' %}<p class="blurb-text">State of California voters only.</p>{% endif %}
                </header>
                {% for candidate in contest.candidate_set.all|dictsortreversed:"votepct" %}
                    {% if contest.candidate_set.all|length > 3 %}
                        <div class="result-grid clearfix">
                            <h3 class="candidate-name">{{ candidate.fullname }}{% if candidate.party|convert_political_party == False %}{% else %} ({{ candidate.party|convert_political_party }}){% endif %}{% if candidate.incumbent == True %}<br /> <span class="blurb-text">Incumbent</span>{% endif %}</h3>
                            <h3 class="votepct">{{ candidate.votepct|percentage|floatformat:0 }}%</span></h3>
                        </div>
                    {% else %}
                        <div class="result-item clearfix">
                            <h3 class="candidate-name">{{ candidate.fullname }} {% if candidate.party %}({{ candidate.party|convert_political_party }}){% endif %}{% if candidate.incumbent == True %}<br /> <span class="blurb-text">Incumbent</span>{% endif %}</h3>
                            <h3 class="votepct">{{ candidate.votepct|percentage|floatformat:0 }}%{% if contest.contestid == 'sos-statewide-president' %}<br /> <span class="blurb-text">of california voters</span>{% endif %}</span></h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="branded-image clearfix">
                {% if baked == True %}
                    <img src="/static/assets/kpcc-votergameplan-mark-horizontal.png" />
                {% else %}
                    <img src="{% static 'assets/kpcc-votergameplan-mark-horizontal.png' %}" />
                {% endif %}
                    <p><a href="{{ election_meta.election_kpcc_page }}" target="_top">See State &amp; Local Results &gt;</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}
