{% extends "ballot_box/_base.html" %}
{% load static %}
{% load humanize %}
{% load ballot_box_template_tags %}

<!-- begin meta -->
{% block title %}KPCC Featured Results for the Nov. 8 Election | scpr.org{% endblock %}

{% block description %}Featured results for the Nov. 8, 2016 General Election brought to you by KPCC, 89.3FM{% endblock %}

{% block keywords %}California, {% for contest in featured_races %}{{ contest.contestname|title }},{% endfor %}{% endblock %}

{% block og_title %}KPCC Featured Results for the Nov. 8 Election | scpr.org{% endblock %}

{% comment %}
    {% block og_url %}http://{{ request.get_host }}{% url 'measure_finance:measure-detail' object.official_identifier_slug %}{% endblock %}
{% endcomment %}

{% block og_description %}Featured results for the Nov. 8, 2016 General Election brought to you by KPCC, 89.3FM{% endblock %}

{% comment %}
{% block twitter_url %}http://{{ request.get_host }}{% url 'measure_finance:measure-detail' object.official_identifier_slug %}{% endblock %}
{% endcomment %}

{% block twitter_title %}KPCC Featured Results for the Nov. 8 Election | scpr.org{% endblock %}

{% block twitter_description %}Featured results for the Nov. 8, 2016 General Election brought to you by KPCC, 89.3FM{% endblock %}
<!-- end meta -->

{% block extra_css %}
    {% if baked == True %}
        <link href="http://162.243.135.6/static/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="http://162.243.135.6/static/css/general-election.css" media="screen" rel="stylesheet" type="text/css" />
    {% else %}
        <link href="{% static 'css/reset.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/general-election.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block display_block %}

    {% if timestamp %}
    <!-- i was built at {{ timestamp }} using django-bakery -->
    {% endif %}

    <div class="hero-election">
        {% include "ballot_box/inc_header.html" %}
        {% if is_homepage == False %}
            {% include "ballot_box/inc_buttons.html" %}
        {% endif %}
        {% if featured_races %}
            <div class="row-fluid results clearfix">
                {% for contest in featured_races %}
                    <div class="results-block">
                        <header>
                            <h2 class="race-title">{{ contest.contestname|title }}</h2>
                            <h2 class="precincts-reporting">{{ contest.precinctsreportingpct|percentage|floatformat:0 }}% precincts reporting</h2>
                        </header>
                        {% for candidate in contest.candidate_set.all|slice:":2"|dictsortreversed:"votepct" %}
                            <div class="result-item clearfix">
                                {% if baked == True %}
                                    <img src="http://162.243.135.6/static/assets/{{ candidate.candidateid }}.png" alt="{{ candidate.candidateid }}"/>
                                {% else %}
                                    <img src="{% static '' %}assets/{{ candidate.candidateid }}.png" alt="{{ candidate.candidateid }}"/>
                                {% endif %}
                                <h3 class="candidate-name">{{ candidate.fullname }} {% if candidate.party %}({{ candidate.party|convert_political_party }}){% endif %}</h3>
                                <h3 class="votepct">{{ candidate.votepct|percentage|floatformat:0 }}%{% if contest.contestid == 'sos-statewide-president' %}<br /> <span class="blurb-text">of california voters</span>{% endif %}</span></h3>
                            </div>
                        {% endfor %}
                        <h3 class="npr-link">
                            {% if contest.contestid == 'sos-statewide-president' %}
                                <a class="blurb-text" href="#">See National Results on NPR.org &gt;</a>
                            {% endif %}
                        </h3>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if featured_measures %}
            <div class="row-fluid measures clearfix">
                <div class="results-block clearfix">
                    <header>
                        <h2 class="race-title">Ballot Measures</h2>
                        <h2 class="precincts-reporting">{{ featured_measures.0.precinctsreportingpct|percentage|floatformat:0 }}% precincts reporting</h2>
                    </header>
                    {% for measure in featured_measures %}
                        {% for this in measure.ballotmeasure_set.all %}
                            <div class="result-item clearfix">
                                <div class="measure-name">
                                    <dl>
                                        <dt>{{ this.fullname }}</dt>
                                        <dd>{{ measure.contestdescription }}</dd>
                                    </dl>
                                </div>
                                <div class="measure-votes clearfix">
                                    <dl class="yes">
                                        <dt>{{ this.yespct|percentage|floatformat:0 }}%</dt>
                                        <dd>Yes</dd>
                                    </dl>
                                    <dl class="no">
                                        <dt>{{ this.nopct|percentage|floatformat:0 }}%</dt>
                                        <dd>No</dd>
                                    </dl>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
