<div class="row-fluid topper clearfix">
    <header class="election-header">
        <h1>California 2016 General Election Results</h1>
        {% if is_homepage == True %}
            <h2 class="align-right"><a href="http://www.scpr.org/elections/2016/general/" target="_blank">See State &amp; Local Results &gt;</a><br /><a href="http://www.npr.org/templates/story/story.php?storyId=500927768&live=1" target="_blank">See National Results on NPR.org &gt;</a></h2>
        {% endif %}
    </header>
    <header class="election-status">
        <p class="blurb-text">As of {{ results_meta.source_latest|date:"g:i a, N d, Y" }}. Results updated every 5 minutes</p>
    </header>
</div>
<div class="row-fluid caveat clearfix">
    <header class="election-description">
        {{ caveat|safe }}
    </header>
</div>
