<div class="row-fluid topper clearfix">
    <header class="election-header">
        <h1>{{ title|safe }}</h1>
        {% if is_homepage == True %}
            <h2 class="align-right"><a href="{{ kpcc_page }}" target="_blank">See State &amp; Local Results &gt;</a></h2>
        {% endif %}
    </header>
    <header class="election-status">
        <p class="blurb-text">As of {{ results_meta.source_latest|date:"g:i a, N d, Y" }}. Results updated every 5 minutes</p>
    </header>
</div>
<div class="row-fluid caveat clearfix">
    <header class="election-description">
        {{ caveat|safe }}
    </header>
</div>
