{% extends "measure_finance/base.html" %}

{% load static from staticfiles %}
{% load measure_finance_template_tags %}

<!-- begin meta -->
{% block title %}Charting contributions for and against California {{ object.official_identifier }} | scpr.org{% endblock %}

{% block description %}This chart displays the top donors supporting and opposing California's {{ object.official_identifier }}: {{ object.official_title }}. Voters cast their choice on Nov. 8, 2016.{% endblock %}

{% block keywords %}California, {{ object.official_identifier }}, {{ object.official_title }}, {% for support in supporting_contributions %}{{ support.name|title }},{% endfor %}{% for oppose in opposing_contributions %}{{ oppose.name|title }},{% endfor %}{% endblock %}

{% block og_title %}Charting contributions for and against California {{ object.official_identifier }} | scpr.org{% endblock %}

{% block og_site_name %}KPCC{% endblock %}

{% block og_type %}website{% endblock %}

{% block og_url %}{{ request.get_host }}{% url 'measure_finance:measure-detail' object.official_identifier_slug %}{% endblock %}

{% block og_description %}This chart displays the top donors supporting and opposing California's {{ object.official_identifier }}: {{ object.official_title }}. Voters cast their choice on Nov. 8, 2016.{% endblock %}

{% block twitter_url %}{{ request.get_host }}{% url 'measure_finance:measure-detail' object.official_identifier_slug %}{% endblock %}

{% block twitter_title %}Charting contributions for and against California {{ object.official_identifier }} | scpr.org{% endblock %}

{% block twitter_description %}This chart displays the top donors supporting and opposing California's {{ object.official_identifier }}: {{ object.official_title }}. Voters cast their choice on Nov. 8, 2016.{% endblock %}
<!-- end meta -->

{% block contributions_chart_config %}
    <script>
        var chartConfig = {{ chart_config|safe }};
    </script>
{% endblock %}

{% block page_content %}
    <div class="ledger">
        <header class="overline">
            <mark>
                <h1 class="align-center">{{ object.official_title }}</h1>
            </mark>
        </header>
        <div class="contributors clearfix">
            <div class="support">
                <header>
                    <mark>
                        <h1 class="align-left"><span class="support-accent">For</span> {{ object.official_identifier }}</h1>
                    </mark>
                </header>
                <section class="display">
                    <mark>
                        <h1 class="align-left">Top five contributors</h1>
                    </mark>
                    <ol>
                        {% for support in supporting_contributions %}
                            <li>
                                <dl class="clearfix">
                                    {% if support.total == "0.00" %}
                                        <dt>No contributions reported</dt>
                                        <dd></dd>
                                    {% else %}
                                        <dt>{{ support.name | title }}</dt>
                                        <dd>{{ support.total | currency }}</dd>
                                    {% endif %}
                                </dl>
                            </li>
                        {% endfor %}
                    </ol>
                </section>
            </div>
            <div class="oppose">
                <header class="prologue">
                    <mark>
                        <h1 class="align-right">{{ object.official_identifier }} <span class="oppose-accent">Against</span></h1>
                    </mark>
                </header>
                <section class="display">
                    <mark>
                        <h1 class="align-right">Top five contributors</h1>
                    </mark>
                    <ol>
                        {% if opposing_contributions %}
                            {% for oppose in opposing_contributions %}
                                <li>
                                    <dl class="clearfix">
                                        <dt>{{ oppose.name | title }}</dt>
                                        <dd>{{ oppose.total | currency }}</dd>
                                    </dl>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <dl class="clearfix">
                                    <dt>No Contributions</dt>
                                    <dd>$0.00</dd>
                                </dl>
                            </li>
                        {% endif %}
                    </ol>
                </section>
            </div>
            <!--
            <aside class="support-contributor-totals">
                {% if supporting_contributions.0.total == 0.00 %}
                    <h3 class="align-left">Total contributors: 0</h3>
                {% else %}
                    <h3 class="align-left">Total contributors: {{ count_supporting }}</h3>
                {% endif %}
            </aside>
            <aside class="oppose-contributor-totals">
                {% if opposing_contributions.0.total == 0.00 %}
                    <h3 class="align-right">Total contributors: 0</h3>
                    <dd></dd>
                {% else %}
                    <h3 class="align-right">Total contributors: {{ count_opposing }}</h3>
                {% endif %}
            </aside>
            -->
        </div>
        <div id="chart-container"></div>
        <aside class="totals clearfix">
            <div class="support-total">
                <dl class="align-left">
                    <dt>Amount total</dt>
                    <dd>{{ total_support | currency }}</dd>
                </dl>
            </div>
            <div class="rule-style-left"></div>
            <div class="oppose-total">
                <dl class="align-right">
                    <dt>Amount total</dt>
                    <dd>{{ total_opposition | currency }}</dd>
                </dl>
            </div>
            <div class="rule-style-right"></div>
        </aside>
    </div>
    <footer class="clearfix">
        <div class="text">
            <ol>
            <li>
                <dl class="clearfix">
                    <dt>Data Source</dt>
                    <dd>MapLight</dd>
                </dl>
            </li>
            <li>
                <dl class="clearfix">
                    <dt>Last update</dt>
                    <dd>{{ measure.modified|date:"N d, Y" }}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Design &amp; Code</dt>
                    <dd>89.3 KPCC</dd>
                </dl>
            </li>
        </div>
        <div class="logo">
            <img src="{% static 'images/maplight_logo_partner.png' %}" />
        </div>
    </footer>
{% endblock %}
