.clearfix:after { content: " "; visibility: hidden; display: block; height: 0; clear: both; }

.hero-election { border-top: 1px solid #31abd4; }

.header {margin: 30px 0 0 0; }

header.election-header { width: 75%; float: left; height: auto; margin: 0 0 30px 0; }

header.election-status { width: 25%; float: right; height: auto; margin: 0 0 30px 0; }

header.election-description { width: 100%; height: auto; margin: 0 0 30px 0; }

header.election-status p { margin-top: 7px; }

.row-fluid { width: 100%; zoom: 1; }

.buttons { height: 46px; margin: 0 0 30px 0; }

.buttons ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }

.buttons ul li { float: left; border: 1px solid #27aad6; display: block; width: 31%; margin: 0 1% 0 1%; height: 32px; padding: 0; text-align: center; color: #27aad6; vertical-align: middle; }

.buttons ul li.selected { float: left; border: 1px solid #27aad6; display: block; width: 31%; margin: 0 1% 0 1%; height: 32px; padding: 0; text-align: center; color: #ffffff; background-color: #27aad6; }

.buttons ul li:hover { background-color: #27aad6; color: #ffffff; cursor: pointer; }

.results, .measures { border-top: 1px solid #f74623; }

.results-block { width: 50%; height: auto; float: left; }

.results-block header { width: 100%; height: 54px; margin: 0px 0 28px 0; background-color: #f6f6f6; }

.results-block header h2 { width: 46%; float: left; margin: 18px 2% 0 2%; }

.results-block .result { width: 96%; height: 85px; margin: 0px 2% 0px 2%; }

.results-block .result .candidate { width: 85%; float: left; }

.results-block .result .candidate img { float: left; margin: 2px 12px 0 0; }

.results-block .result .candidate h3 {  }

.results-block .result .votes { width: 15%; float: right;}

.measures header { width: 100%; height: 54px; background-color: #f6f6f6; margin-bottom: 18px; }

.measures header h2 { width: 48%; float: left; margin: 18px 1% 0 1%; }

.measures-block { width: 50%; height: auto; float: left; }

.measures-block .result { width: 96%; height: 85px; margin: 0px 2% 0px 2%; }

.measures-block .result .measure { width: 90%; float: left; }

.measures-block .result .measure dl.measure-name dt { font-size: 18px; line-height: 18px; font-style: normal; font-weight: 400; color: #363636; }

.measures-block .result .measure dl.measure-name dd { font-size: 15px; line-height: 18px; font-style: normal; font-weight: 400; color: #898989; margin: 10px 0 0 0; }

.measures-block .result .votes { width: 10%; float: right;}

.measures-block .result .votes dl.yes { width: 40%; float: left; margin-right: 10%; }

.measures-block .result .votes dl.no { width: 40%; float: right; margin-left: 10%; }

.measures-block .result .votes dl.yes dt,
.measures-block .result .votes dl.no dt { width: 92%; margin: 0 3% 5px 3%; font-size: 22px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; }

.measures-block .result .votes dl.yes dd,
.measures-block .result .votes dl.no dd { font-size: 10px; line-height: 12px; font-style: normal; font-weight: 500; color: #898989; text-transform: uppercase; margin: 12px 0 0 0; }

@media screen and (max-width: 1060px) {
    .row-fluid .span24 { margin-left: 0 }
}

@media screen and (max-width: 800px) {
    .row-fluid .span24 { margin-left: 0 }
}

@media screen and (max-width: 400px) {
    .row-fluid .span24 { margin-left: 0 }
}

.img-circle {
    border-radius: 50%;
}

/* typography */

.hero-election { font-family: "franklin-gothic-urw", "Avenir Next", "Avenir", Arial, sans-serif; }

header h1 { font-size: 30px; line-height: 36px; font-style: normal; font-weight: 300; color: #fa440f; }

header p { font-size: 15px; line-height: 18px; font-style: italic; font-weight: 400; color: #898989; }

h2.race-title { font-size: 18px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; }

h2.precincts-reporting { font-size: 15px; line-height: 18px; font-style: normal; font-weight: 400; color: #898989; }

h3.candidate-name { font-size: 18px; line-height: 16px; font-style: normal; font-weight: 500; color: #363636; }

h3.votepct { font-size: 22px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; margin: 15px 0 0 0;}

.blurb-text { font-size: 10px; line-height: 12px; font-style: normal; font-weight: 500; color: #898989; text-transform: uppercase; }

.align-left { text-align: left; }

.align-right { text-align: right; }

.align-center { text-align: center; }
