* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after { content: " "; visibility: hidden; display: block; height: 0; clear: both; }

.hero-election { width: 99%; margin-left: .5%; margin-right: .5%; border-top: 1px solid #31abd4; }

.header { margin-top: 30px; }

header.election-header { width: 75%; float: left; height: auto; margin-bottom: 30px; }

header.election-status { width: 25%; float: right; height: auto; margin-bottom: 30px; }

.election-description { width: 100%; height: auto; margin-bottom: 30px; }

.row-fluid { width: 100%; zoom: 1; }

.buttons { width: 70%; height: 46px; margin-bottom: 30px; }

.buttons ul { list-style-type: none; }

.buttons ul li { float: left; border: 1px solid #27aad6; border-left: none; width: 33.1%; height: 32px; text-align: center; background-color: #ffffff; color: #27aad6; overflow: hidden; }

.buttons ul li:first-child { border-right: 1px solid #27aad6; border-left: 1px solid #27aad6; }

.buttons ul li.selected { background-color: #27aad6; color: #ffffff; }

.buttons ul li:hover { background-color: #27aad6; color: #ffffff; cursor: pointer; }

.buttons ul li a { display: block; }

.label { font-size: 15px; line-height: 28px; font-style: normal; font-weight: 500; margin-top: 10px; margin-bottom: 10px; }

.results, .measures { border-top: 1px solid #f74623; }

.measures { border-bottom: 1px solid #f74623; padding-bottom: 36px; }

.results-block { width: 50%; height: auto; float: left; }

.results-block:nth-child(n+3) { border-top: 1px solid #dbdbdb; }

.results-block header,
.results-row header,
.measures header,
.measures-row header { width: 100%; height: 54px; margin-bottom: 28px; background-color: #f6f6f6; }

.results-block .result { width: 96%; height: 85px; margin-left: 2%; margin-right: 2%; }

.results-block .result .candidate { width: 70%; float: left; }

.results-block .result .candidate img { float: left; margin-top: 2px; margin-right: 12px; }

.results-block .result .votes { width: 30%; float: right; }

.measures .results-block { width: 100%; float: none; }

.measures-block { width: 50%; height: auto; float: left; border-bottom: 1px solid #dbdbdb; margin-top: 24px; padding-bottom: 18px; }

/*.measures-row:last-child { border-bottom: 1px solid #dbdbdb; }*/

.measures-block .result { width: 96%; height: auto; margin-right: 2%; margin-left: 2%; }

.measures-row .result { width: 98%; height: auto; margin: 18px 1%; }

.measures-block .result .measure,
.measures-row .result .measure { width: 75%; float: left; }

.measures-block .result .votes { width: 20%; float: right; margin-left: 5%; }

.measures-row .result .votes { width: 15%; float: right; margin-left: 10%; }

.measures-block .result .votes dl.yes,
.measures-row .result .votes dl.yes { width: 50%; float: left; margin-right: 0%; }

.measures-block .result .votes dl.no,
.measures-row .result .votes dl.no { width: 50%; float: right; margin-left: 0%; }

.img-circle {
    border-radius: 50%;
 }

/* typography */
.hero-election { font-family: "franklin-gothic-urw", "proxima-nova", Arial, sans-serif; }

header h1 { font-size: 30px; line-height: 36px; font-style: normal; font-weight: 300; color: #fa440f; }

header.election-status p { margin-top: 7px; }

header p { font-size: 15px; line-height: 18px; font-style: italic; font-weight: 400; color: #898989; }

.results .race-title { width: 63%; float: left; text-align: left; margin-top: 2%; margin-left: 2%; font-size: 18px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; }

.results .precincts-reporting { width: 33%; float: right; text-align: right; margin-top: 2%; margin-right: 2%; font-size: 15px; line-height: 18px; font-style: normal; font-weight: 400; color: #898989; }

.measures .race-title { width: 63%; float: left; text-align: left; margin-top: 1%; margin-left: 1%; font-size: 18px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; }

.measures .precincts-reporting { width: 33%; float: right; text-align: right; margin-top: 1%; margin-right: 1%; font-size: 15px; line-height: 18px; font-style: normal; font-weight: 400; color: #898989; }

.results-block .result .candidate h3 { margin-top: 16px; }

.candidate-name { font-size: 18px; line-height: 16px; font-style: normal; font-weight: 500; color: #363636; }

.votepct { font-size: 22px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; margin-top: 15px; }

.measures-block .result .measure dl.measure-name dt,
.measures-row .result .measure dl.measure-name dt { font-size: 18px; line-height: 18px; font-style: normal; font-weight: 400; color: #363636; }

.measures-block .result .measure dl.measure-name dd,
.measures-row .result .measure dl.measure-name dd { font-size: 15px; line-height: 18px; font-style: normal; font-weight: 400; color: #898989; margin-top: 10px; }

.measures-block .result .votes dl.yes dt,
.measures-block .result .votes dl.no dt,
.measures-row .result .votes dl.yes dt,
.measures-row .result .votes dl.no dt { width: 92%; margin-right: 3%; margin-bottom: 5px; margin-left: 3%; font-size: 22px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; }

.measures-block .result .votes dl.yes dd,
.measures-block .result .votes dl.no dd,
.measures-row .result .votes dl.yes dd,
.measures-row .result .votes dl.no dd { font-size: 10px; line-height: 12px; font-style: normal; font-weight: 500; color: #898989; text-transform: uppercase; margin-top: 12px; }

.blurb-text { font-size: 10px; line-height: 12px; font-style: normal; font-weight: 500; color: #898989; text-transform: uppercase; }

.align-left { text-align: left; }

.align-right { text-align: right; }

.align-center { text-align: center; }

@media screen and (max-width: 768px) {
    header.election-header { width: 100%; float: none; }
    header.election-status { width: 100%; float: none; }
    header.election-status p.blurb-text { text-align: left; }
    .buttons { width: 100%; }
    .results-block { width: 100%; float: none; }
    .measures-block { width: 100%; float: none; }
    header h1 { font-size: 26px; line-height: 30px; }
    h3.votepct { font-size: 20px; line-height: 16px; }
 }

@media screen and (max-width: 280px) {
    .results-block header { clear: both; height: auto; padding-top: 5px; padding-bottom: 5px; }
    h2.race-title { width: 100%; float: none; }
    h2.precincts-reporting { width: 100%; float: none; text-align: left; margin-top: 2%; margin-left: 2%; }
    .measures header { clear: both; height: auto; padding-top: 5px; padding-bottom: 5px; }
    .measures header h2 { width: 100%; float: none; text-align: left; margin-top: 2%; margin-left: 2%; }
 }


@media screen and (max-width: 205px) {
    .measures-block .result { height: 135px; }
    .measures-block .result .measure { width: 100%; float: none; }
    .measures-block .result .votes { width: 100%; float: none; margin-top: 14px; margin-bottom: 14px; }
 }





/* full list display */
.results-row { width: 100%; height: 135px; }

.results-row:nth-child(n+2) { border-top: 1px solid #dbdbdb; }

.results-row .race-title { width: 64%; float: left; text-align: left; margin-top: 1%; margin-left: 1%; font-size: 18px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; }

.results-row .precincts-reporting { width: 34%; float: right; text-align: right; margin-top: 1%; margin-right: 1%; font-size: 15px; line-height: 18px; font-style: normal; font-weight: 400; color: #898989; }

.candidate-block { width: 48%; height: auto; float: left; margin-left: 1%; margin-right: 1%; }

.candidate-block h3 { width: 50%; height: auto; float: left; margin-top: 0px; }

.candidate-block h3.candidate-name { font-size: 18px; line-height: 16px; font-style: normal; font-weight: 500; color: #363636; text-align: left; }

.candidate-block h3.votepct { font-size: 22px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; text-align: right; }


.results-row,
.measures-row { width: 100%; height: auto; margin-top: 16px; border-top: 1px solid #dbdbdb; }







.results-collection-block { width: 100%; height: auto; border-bottom: 1px solid #f74623; padding-bottom: 15px; }

.results-collection { margin-top: 12px; }

.results-collection .collection-header { width: 100%; height: 25px; position: relative; }

.results-collection .collection-header:hover { cursor: pointer; }

.results-collection .collection-header h2 { margin-left: 1%; font-size: 22px; line-height: 24px; text-transform: uppercase; color: #27aad6; }

.results-collection .measures-row h3 { font-size: 20px; line-height: 22px; margin-left: 1%; }

.results-collection .collection-header:after { content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 7px 7.5px 0; border-color: #27aad6 transparent transparent; position: absolute; right: 10px; top: 16px; }

.results-collection.active .collection-header:after { width: 0; height: 0; border-style: solid; border-width: 0 7.5px 7px; border-color: transparent transparent #27aad6; }

.results-collection.active .results-row,
.results-collection.active .measures-row { display: block; }

.results-collection .results-row,
.results-collection .measures-row { display: none; }










.measures-row .race-title { width: 63%; float: left; text-align: left; margin-top: 1%; margin-left: 1%; font-size: 18px; line-height: 18px; font-style: normal; font-weight: 500; color: #003a5c; text-transform: uppercase; }

.measures-row .precincts-reporting { width: 33%; float: right; text-align: right; margin-top: 1%; margin-right: 1%; font-size: 15px; line-height: 18px; font-style: normal; font-weight: 400; color: #898989; }

















/* embeddable race styles */
.embed { height: auto; }
.embed-block { width: 98%; margin-top: 30px;  margin-left: 1%; margin-right: 1%; }
.embed-block header { width: 100%; height: auto; margin-top: 6px; margin-bottom: 36px; padding-bottom: 16px; border-bottom: 1px solid #dbdbdb; }
.embed-block header h2 { font-size: 30px; line-height: 30px; font-style: normal; font-weight: 300; color: #fa440f; margin-bottom: 18px; }
.embed-block .result { width: 98%; height: auto; margin-left: 1%; margin-right: 1%; margin-bottom: 16px; }

.embed-block .result .yes { width: 48%; height: auto; float: left; margin-right: 2%; }
.embed-block .result .no { width: 48%; height: auto; float: right; margin-left: 2%; }

.embed-block .result .yes span { width: 50%; height: auto; float: left; }
.embed-block .result .no span { width: 50%; height: auto; float: left; }

.embed-block .result .candidate { width: 70%; float: left; }
.embed-block .result .candidate .candidate-name { font-size: 18px; line-height: 16px; font-style: normal; font-weight: 400; color: #363636; }
.embed-block .result .votes { width: 30%; float: right; }
.embed-block .result .votes .votepct { font-size: 20px; line-height: 30px; font-weight: 500; margin-top: 0px; }
.embed-block .branded-image { width: 100%; height: auto; display: block; padding-top: 18px; padding-bottom: 24px; margin-top: 18px; border-top: 1px solid #31abd4; }
.embed-block .branded-image img { float: left; width: 156px; height: 15px; }
.embed-block .branded-image p { float: right; font-size: 16px; line-height: 18px; font-style: normal; font-weight: 500; color: #00acd6; text-align: right; }
